{% extends 'base.html' %}
{% load i18n %}
{% block 'content' %}

<div>
    {% for product in products %}
        <div>
            <div style="display: flex; gap: 10px;"><div>{% trans 'Назва' %} : </div> <div>{{ product.name  }}</div></div>
            <p>{% trans 'Ціна' %}: {{ product.current_price  }}</p>
            <p>{% trans 'Явність' %} : {{ product.stock  }}</p>
        </div>
        <div>
            <form action="{% url 'shopname:cart_add' product.id %}" method ="post">
                  {% csrf_token %}
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit"> Додати в кошик </button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}