<div>
    {% for product in products %}
        <div>
            <p>Назва: {{ product.name  }}</p>
            <p>Ціна: {{ product.current_price  }}</p>
            <p>Явність: {{ product.stock  }}</p>
        </div>
        <div>
            <form action="{% url 'shopname:cart_add' product.id %}" method ="post">
                  {% csrf_token %}
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit"> Додати в кошик </button>
            </form>
        </div>
    {% endfor %}
</div>